.idea/
terraform/.terraform
key.json
terraform/.terraform.lock.hcl
terraform/.terraform.tfstate.lock.info
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/key/id_rsa
terraform/key/id_rsa.pub